.add-catalog-item__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $medium) {
    font-size: 20px;
    margin-bottom: 27px;
    padding: 0;
    padding-top: 26px;
    padding-left: 38px;
  }

  @media (min-width: $large) {
    margin: 0;
    padding: 0;
  }
}

.add-catalog-item__description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 240px;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $medium) {
    margin-bottom: 23px;
    padding: 0;
    padding-right: 38px;
  }

  @media (min-width: $large) {
    width: 286px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 40px;
    padding: 0;
    align-items: baseline;
  }
}

.add-catalog-item__count {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: $special-dark-grey;
  flex-basis: 50%;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  @media (min-width: $large) {
    text-align: left;
  }
}


.add-catalog-item__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: $special-dark-grey;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  flex-basis: 50%;
  text-align: right;
}
