.additional-catalog {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  @media (min-width: $medium) {
    margin-bottom: 76px;
  }

  @media (min-width: $large) {
    margin-bottom: 86px;
  }
}

.additional-catalog__header {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  margin-bottom: 35px;
  background-color: $basic-white;

  @media (min-width: $medium) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 80px;
  }

  @media (min-width: $large) {
    margin-bottom: 81px;
  }
}

.additional-catalog__header-line {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 60%;
    border-bottom: 2px solid $basic-bright;
    width: 100vw;
    margin-top: 0;
    margin-left: 22px;
    left: 100%;
  }

  @media (min-width: $medium) {
    &::before {
      margin-left: 36px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 60%;
      border-bottom: 2px solid $basic-bright;
      width: 100vw;
      margin-top: 0;
      margin-right: 37px;
      right: 100%;
    }
  }

  @media (min-width: $large) {
    &::after {
      content: "";
      position: absolute;
      top: 60%;
      border-bottom: 2px solid $basic-bright;
      width: 100vw;
      margin-top: 0;
      margin-right: 40px;
      right: 100%;
    }
  }
}

.additional-catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $large) {
    flex-direction: row;
  }
}

.additional-catalog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (min-width: $large) {
    margin-right: 80px;
  }
}

.additional-catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 280px;
  min-height: 130px;
  margin: 0;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 708px;
    min-height: 140px;
    border-top: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
    border-left: 1px solid $special-grey;
  }

  @media (min-width: $large) {
    align-items: center;
    width: 895px;
    min-height: 72px;
    border-right: none;
    border-left: none;
  }
}

.additional-catalog__order-button {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-bright;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  min-height: 20px;
  margin: 0;
  margin-bottom: 19px;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium) {
    width: 592px;
    min-height: 26px;
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 6px 20px 6px 20px;
    align-self: flex-end;
  }

  @media (min-width: $large) {
    line-height: 1.25;
    width: 192px;
    min-height: 26px;
    margin: 0;
    padding: 7px 26px 7px 26px;
    align-self: center;
  }

  &:hover {
    background-color: $bright;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
