.advantages {
  background-color: $basic-white;
  margin-bottom: 22px;

  @media (min-width: $medium) {
    margin-bottom: 47px;
  }

  @media (min-width: $large) {
    margin-bottom: 11px;
  }
}

.advantages__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $medium) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 78px;
  }
}

.advantages__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: $medium) {
    margin: 0;
    padding: 0;
    padding-top: 151px;
    min-height: 129px;
  }
}

.advantages__item--first {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $medium) {
    background-image: url("../img/one.png");
    background-repeat: no-repeat;
    background-position: 125px 40px;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--second {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $medium) {
    background-image: url("../img/two.png");
    background-repeat: no-repeat;
    background-position: 125px 40px;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--third {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $medium) {
    background-image: url("../img/three.png");
    background-repeat: no-repeat;
    background-position: 125px 40px;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--fourth {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $medium) {
    background-image: url("../img/four.png");
    background-repeat: no-repeat;
    background-position: 125px 40px;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $large) {
    background-position: 100px 40px;
  }
}

.advantages__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: $special-dark-grey;
  margin: 0;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 1.5;
  }
}
