.advantages {
  background-color: $basic-white;
  margin-bottom: 22px;

  @media (min-width: $medium) {
    margin-bottom: 47px;
    background-color: transparent;
  }

  @media (min-width: $large) {
    margin-bottom: 11px;
  }
}

.advantages__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $medium) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
    counter-reset: item-counter;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 78px;
  }
}

.advantages__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: $medium) {
    margin: 0;
    padding: 0;
    padding-top: 151px;
    justify-self: start;
    // padding-right: 28px;
    min-height: 129px;
    position: relative;

    &::after {
      content: counter(item-counter);
      counter-increment: item-counter;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.advantages__item--first {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 60px 60px;
    }
  }

  @media (min-width: $medium) {
    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--second {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 60px 60px;
    }
  }

  @media (min-width: $medium) {
    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--third {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 60px 60px;
    }
  }

  @media (min-width: $medium) {
    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--fourth {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $basic-bright;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 60px 60px;
    }
  }

  @media (min-width: $medium) {
    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 1.5;

    &:last-child {
      width: 245px;
    }
  }
}
