.advertising {
  margin: 0;
  margin-top: 39px;
  min-height: 289px;
  position: relative;

  @media (min-width: $medium) {
    width: 708px;
    margin-top: 69px;
    min-height: 200px;
  }

  @media (min-width: $large) {
    width: 245px;
    margin: 0;
    min-height: 289px;
  }
}

.advertising__icon-gift {
  fill: $basic-white;
  position: absolute;
  top: 64px;
  left: 111px;

  @media (min-width: $medium) {
    top: 64px;
    left: 89px;
  }

  @media (min-width: $large) {
    top: 63px;
    left: 95px;
  }
}

.advertising__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: $basic-white;
  background-color: $basic-bright;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 0;
  padding: 186px 61px 43px 58px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }

  @media (min-width: $medium) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 71px 124px 69px 423px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  @media (min-width: $large) {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 184px 43px 42px 41px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 289px;
    }
  }
}
