.cat-info {
  border: none;
  margin: 0 auto;
  width: 280px;
  padding: 0;
  padding-bottom: 24px;

  @media (min-width: $medium) {
    width: 630px;
    padding: 0;
    padding-left: 41px;
    padding-right: 37px;
    padding-bottom: 72px;
  }

  @media (min-width: $large) {
    width: 569px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
  }
}

.cat-info__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  min-height: 45px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $medium) {
    min-height: 52px;
    margin-bottom: 20px;
  }
}

.cat-info__item:last-child {
  margin-bottom: 0;
}

.cat-info__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  margin-right: 13px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.cat-info__input {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $special-dark-grey;
  height: 19px;
  padding: 13px 16px 13px 16px;
  border: 1px solid $border-color;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
    height: 30px;
    padding: 10px 19px 12px 19px;
  }
}

.cat-info__name {
  width: 197px;

  @media (min-width: $medium) {
    width: 529px;
  }

  @media (min-width: $large) {
    width: 468px;
  }
}

.cat-info__weight {
  width: 172px;

  @media (min-width: $medium) {
    width: 498px;
  }

  @media (min-width: $large) {
    width: 437px;
  }
}

.cat-info__age {
  width: 140px;

  @media (min-width: $medium) {
    width: 459px;
  }

  @media (min-width: $large) {
    width: 398px;
  }
}

.cat-info__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey;
}
