.catalog-more {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 280px;
  min-height: 184px;
  margin: 0;
  padding-bottom: 25px;
  text-align: center;
  justify-content: flex-end;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid $special-grey-2;
    width: 100vw;
    margin-bottom: 184px;
    left: 0;
  }

  @media (min-width: $medium) {
    background-color: $basic-white;
    width: 320px;
    min-height: 388px;
    margin-top: 141px;
    padding-bottom: 38px;
    border: 2px solid $basic-grey;

    &::after {
      display: none;
    }
  }

  @media (min-width: $large) {
    width: 241px;
    min-height: 387px;
    margin-top: 143px;
    padding-bottom: 40px;
  }
}

.catalog-more__text-show {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $special-dark-title;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-top: 79px;

  br {
    display: none;
  }

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 23px;
    padding-top: 161px;

    br {
      display: block;
    }
  }

  @media (min-width: $large) {
    padding-top: 160px;
  }
}

.catalog-more__more-taste {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.33;
  color: $special-dark-grey;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  br {
    display: none;
  }

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 1.12;
    margin-bottom: 87px;

    br {
      display: block;
    }
  }
}

.catalog-more__show-button {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special-dark-grey;
  background-color: $basic-grey;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  min-height: 20px;
  margin: 0;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium) {
    width: 209px;
  }

  @media (min-width: $large) {
    width: 129px;
  }
}
