.catalog-item__photo {
  display: flex;
  justify-content: center;
}

.catalog-item__chicken-small {
  @media (min-width: $medium) {
    position: absolute;
    top: -45px;
    left: 0;
  }

  @media (min-width: $large) {
    top: -52px;
  }
}

.catalog-item__chicken-big {
  @media (min-width: $medium) {
    position: absolute;
    top: -73px;
    left: 0;
  }

  @media (min-width: $large) {
    top: -80px;
  }
}

.catalog-item__fish-small {
  @media (min-width: $medium) {
    position: absolute;
    top: -47px;
    left: 0;
  }

  @media (min-width: $large) {
    top: -54px;
  }
}

.catalog-item__fish-big {
  @media (min-width: $medium) {
    position: absolute;
    top: -73px;
    left: 0;
  }

  @media (min-width: $large) {
    top: -80px;
  }
}

.catalog-item__buckwheat-small {
  @media (min-width: $medium) {
    position: absolute;
    top: -44px;
    left: 0;
  }

  @media (min-width: $large) {
    top: -51px;
  }
}

.catalog-item__buckwheat-big {
  @media (min-width: $medium) {
    position: absolute;
    top: -73px;
    left: 0;
  }

  @media (min-width: $large) {
    top: -80px;
  }
}

.catalog-item__rice-small {
  @media (min-width: $medium) {
    position: absolute;
    top: -47px;
    left: 0;
  }

  @media (min-width: $large) {
    top: -54px;
  }
}

.catalog-item__description {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $medium) {
    padding-top: 149px;
    padding-bottom: 30px;
  }

  @media (min-width: $large) {
    padding-top: 158px;
  }
}

.catalog-item__link {
  text-decoration: none;
  margin: 0;
  margin-bottom: 14px;
  width: 76px;

  @media (min-width: $medium) {
    width: 145px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    margin-top: 8px;
  }
}

.catalog-item__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: $special-dark-grey-2;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $large) {
    font-size: 20px;
    line-height: 1.05;
  }
}

.catalog-item__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}

.catalog-item__order-button {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-bright;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  min-height: 20px;
  margin: 0;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium) {
    width: 208px;
    min-height: 19px;
    margin-bottom: 40px;
  }

  @media (min-width: $large) {
    width: 128px;
    min-height: 20px;
  }

  &:hover {
    background-color: $bright;
  }

  &:active {
    color: transparentize($basic-white, 0.3);
  }
}
