.catalog-item__link {
  text-decoration: none;
}

.catalog-item__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: $special-dark-grey-2;
  text-transform: uppercase;
}

.catalog-item__order-button {
  font-weight: normal;
  font-size: 16px;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-bright;
}
