.choose-program {
  border: none;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  @media (min-width: $medium) {
    border: none;
    margin-bottom: 75px;
    padding-left: 41px;
    padding-right: 37px;
  }

  @media (min-width: $large) {
    margin: 0;
    padding: 0;
  }
}

.choose-program__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $medium) {
    width: 630px;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid $border-color;
    box-sizing: border-box;
  }

  @media (min-width: $large) {
    width: 570px;
  }
}

.choose-program__item {
  min-height: 30px;
  padding: 0;
  /*  padding-left: 45px;*/
  margin: 0;
  margin-bottom: 13px;
  //  align-content: center;

  @media (min-width: $medium) {
    min-height: 40px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.choose-program__item:first-child {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $line-color;
    width: 100vw;
    top: -20px;
    left: calc(50% - 50vw);
  }

  @media (min-width: $medium) {
    &::before {
      display: none;
    }
  }
}

.choose-program__item:last-child {
  margin-bottom: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid $line-color;
    width: 100vw;
    bottom: -22px;
    left: calc(50% - 50vw);
  }

  @media (min-width: $medium) {
    &::after {
      display: none;
    }
  }
}

.choose-program__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  padding-left: 45px;
  position: relative;
  align-self: center;


  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 60px;
  }

  &:active {
    opacity: 0.3;
  }
}
/*
.choose-program__radio-button {
  position: absolute;
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
}*/

.choose-program__check-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 29px;
  width: 29px;
  background-color: $basic-white;
  border: 1px solid $special-grey;
  border-radius: 50%;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 8px;
    left: 8px;
    height: 14px;
    width: 14px;
    background-color: $basic-bright;
    border: none;
    border-radius: 50%;
  }

  @media (min-width: $medium) {
    top: 0;
    left: 0;
    height: 39px;
    width: 39px;
    background-color: $basic-white;
    border: 1px solid $special-grey;
    border-radius: 50%;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 11px;
      left: 11px;
      height: 18px;
      width: 18px;
      background-color: $basic-bright;
      border: none;
      border-radius: 50%;
    }
  }
}

.choose-program__radio-button:checked + .choose-program__check-box {
  &::after {
    display: block;
  }
}

.choose-program__radio-button:focus + .choose-program__check-box {
  &::after {
    display: none;
  }
  outline: auto;
}

.choose-program__radio-button:checked:focus + .choose-program__check-box {
  &::after {
    display: block;
  }
  outline: auto;
}

.choose-program__radio-button:hover + .choose-program__check-box {
  &::after {
    display: none;
  }
  border: 1px solid $hover-checkbox-color;
  outline: none;
}

.choose-program__radio-button:checked:hover + .choose-program__check-box {
  &::after {
    display: block;
  }
  border: 1px solid $hover-checkbox-color;
  outline: none;
}

.choose-program__radio-button:disabled + .choose-program__check-box {
  &::after {
    display: none;
  }
  opacity: 0.5;
  outline: none;
}

.choose-program__radio-button:checked:disabled + .choose-program__check-box {
  &::after {
    display: block;
  }
  opacity: 0.5;
  outline: none;
}
