.choose-program {
  border: none;
  box-sizing: border-box;
  border-top: 1px solid $line-color; //Исправить, бордер не тянется
  border-bottom: 1px solid $line-color;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  @media (min-width: $medium) {
    border: none;
    margin-bottom: 75px;
    padding-left: 41px;
    padding-right: 37px;
  }

  @media (min-width: $large) {
    margin: 0;
    padding: 0;
  }
}

.choose-program__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $medium) {
    width: 630px;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid $border-color;
    box-sizing: border-box;
  }

  @media (min-width: $large) {
    width: 570px;
  }
}

.choose-program__item {
  min-height: 30px;
  padding: 0;
  padding-left: 45px;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $medium) {
    min-height: 40px;
    padding-left: 88px;
    padding-right: 25px;
  }
}

.choose-program__item:last-child {
  margin-bottom: 0;
}

.choose-program__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
  }
}
