.collaboration {
  @media (min-width: $large) {
    position: relative;
  }
}


.collaboration__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 22px;
  min-height: 64px;

  @media (min-width: $medium) {
    min-height: 88px;
    padding-top: 62px;
    padding-bottom: 51px;
    padding-left: 41px;
    padding-right: 42px;
  }

  @media (min-width: $large) {
    background-color: $basic-white;
    position: absolute;
    z-index: 2;
    top: 95px;
    left: 110px;
    width: 405px;
    min-height: 88px;
    padding: 62px 89px 51px 76px;
  }
}

.collaboration__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-title;
  margin: 0;
  margin-right: 2px;
  display: flex;
  flex-wrap: wrap;
  min-width: 140px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.05;
    min-width: 171px;
    margin-right: 295px;
  }

  @media (min-width: $large) {
    min-width: 163px;
    margin-right: 87px;
  }
}

.collaboration__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  color: $special-dark-grey;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 140px;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    min-width: 159px;
    justify-content: flex-end;
  }

  @media (min-width: $large) {
    text-align: left;
    min-width: 155px;
    justify-content: flex-start;
  }
}
