.contacts {
  border: none;
  margin-bottom: 27px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $medium) {
    margin-bottom: 65px;
  }

  @media (min-width: $large) {
    margin-bottom: 67px;
  }
}

.contacts__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $medium) {
    font-size: 36px;
    line-height: 1;
    width: 512px;
    margin: 0;
    margin-bottom: 76px;
    padding: 0;
    padding-left: 39px;
    padding-right: 39px;

    br {
      display: none;
    }
  }

  @media (min-width: $large) {
    padding: 0;
  }
}

.contacts__title-line {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 30%;
    border-bottom: 2px solid $basic-bright;
    width: 100vw;
    margin-top: 0;
    margin-left: 15px;
    left: 100%;
  }

  @media (min-width: $medium) {
    &::before {
      top: 60%;
      margin-left: 42px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 60%;
      border-bottom: 2px solid $basic-bright;
      width: 100vw;
      margin-top: 0;
      margin-right: 39px;
      right: 100%;
    }
  }

  @media (min-width: $large) {
    &::before {
      margin-left: 40px;
    }

    &::after {
      margin-right: 40px;
    }
  }
}

.contacts__wrapper {
  @media (min-width: $large) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    padding: 0;
  }
}

.contacts__item {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: $medium) {
    min-height: 52px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 38px;
    padding-right: 35px;
    align-content: center;
  }

  @media (min-width: $large) {
    padding: 0;
    margin: 0;
    margin-right: 78px;
  }
}

.contacts__item:last-child {
  @media (min-width: $large) {
    margin-right: 0;
  }
}

.contacts__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  margin-right: 9px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
    margin-right: 14px;
  }
}

.contacts__input {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $special-grey;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.contacts__email {
  width: 150px;
  height: 17px;
  padding: 13px 51px 15px 15px;

  @media (min-width: $medium) {
    width: 226px;
    height: 32px;
    padding: 10px 302px 10px 21px;
  }

  @media (min-width: $large) {
    width: 201px;
    padding: 10px 266px 10px 19px;
  }
}

.contacts__phone {
  width: 118px;
  height: 17px;
  padding: 13px 68px 15px 16px;

  @media (min-width: $medium) {
    width: 221px;
    height: 32px;
    padding: 10px 293px 10px 21px;
  }

  @media (min-width: $large) {
    width: 196px;
    padding: 10px 258px 10px 18px;
  }
}

.contacts__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
  }
}
