.contacts {
  border: none;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $medium) {
    margin-bottom: 65px;
  }

  @media (min-width: $large) {
    margin-bottom: 67px;
  }
}

.contacts__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 32px;
  padding: 26px 114px 0 19px;
  width: 187px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $medium) {
    width: 512px;
    margin: 0;
    margin-bottom: 76px;
    padding: 0 187px 0 69px;
  }

  @media (min-width: $large) {
    padding: 0 818px 0 110px;
  }
}

.contacts__wrapper {
  @media (min-width: $large) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1219px;
    padding: 0;
    padding-right: 110px;
    padding-left: 111px;
  }
}

.contacts__item {
  margin: 0;
  padding: 0 20px 14px 20px;
  min-height: 45px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: $medium) {
    min-height: 52px;
    padding: 0 65px 20px 71px;
  }

  @media (min-width: $large) {
    padding: 0;
    padding-right: 78px;
  }
}

.contacts__item:last-child {
  @media (min-width: $large) {
    padding-right: 0;
  }
}

.contacts__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  margin-right: 9px;

  @media (min-width: $medium) {
    margin-right: 14px;
  }
}

.contacts__input {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $special-grey;
}

.contacts__email {
  width: 151px;
  height: 17px;
  padding: 13px 51px 15px 15px;

  @media (min-width: $medium) {
    width: 226px;
    height: 32px;
    padding: 10px 302px 10px 21px;
  }

  @media (min-width: $large) {
    width: 201px;
    padding: 10px 266px 10px 19px;
  }
}

.contacts__phone {
  width: 118px;
  height: 17px;
  padding: 13px 68px 15px 16px;

  @media (min-width: $medium) {
    width: 221px;
    height: 32px;
    padding: 10px 293px 10px 21px;
  }

  @media (min-width: $large) {
    width: 196px;
    padding: 10px 258px 10px 18px;
  }
}

.contacts__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: $special-dark-grey;
}
