.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media (min-width: $medium) {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }

  @media (min-width: $large) {
    padding-left: 110px;
    padding-right: 110px;
    width: 1220px;
  }
}
