.copyright {
  //
}

.copyright__logo {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  color: $special-dark-grey;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 34px;

  @media (min-width: $medium) {
    width: 163px;
    margin-left: auto;
  }
}
