.example {
  background-color: $example-background-grey;
  min-height: 647px;
  padding-top: 27px;
  padding-bottom: 31px;

  @media (min-width: $medium) {
    background: linear-gradient(to bottom, $basic-white 57.26%, $example-background-grey 42.74%);
    min-height: 739px;
    padding-top: 43px;
    padding-bottom: 68px;
    border-top: 1px solid $line-border-color;
  }

  @media (min-width: $large) {
    background: linear-gradient(to top, $basic-grey 70.43%, $basic-white 29.57%);
    min-height: 598px;
    padding: 0;
    border: none;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $large) {
    padding-bottom: 68px;
    min-height: 324px;
    flex-direction: row;
  }
}

.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $medium) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }

  @media (min-width: $large) {
    max-width: 436px;
    margin-bottom: 146px;
    padding: 0;
    padding-top: 58px;
  }
}

.example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: $special-dark-grey;
  margin: 0;
  margin-bottom: 25px;
  width: 279px;
  min-height: 108px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 1.5;
    width: 700px;
    min-height: 72px;
    margin-bottom: 54px;
  }

  @media (min-width: $large) {
    max-width: 436px;
    min-height: 96px;
    margin-bottom: 69px;
  }
}

.example__description-wrapper {
  margin: 0 auto;
  // margin-bottom: 42px;

  @media (min-width: $medium) {
    margin-bottom: 51px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (min-width: $large) {
    max-width: 436px;
    margin: 0;
    margin-right: 134px;
    flex-direction: column;
  }
}

.example__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  @media (min-width: $medium) {
    align-items: flex-start;
  }

  @media (min-width: $large) {
    justify-content: flex-start;
  }
}

.example__list-item {
  width: 124px;
  min-height: 64px;
  margin: 0;
  margin-right: 32px;
  margin-bottom: 28px;
  text-align: center;
  position: relative;

  @media (min-width: $medium) {
    width: 162px;
    min-height: 77px;
    margin-bottom: 0;
    margin-right: 42px;
  }
}

.example__list-item:nth-child(2n) {
  margin-right: 0;
  justify-content: flex-end;

  @media (min-width: $medium) {
    margin-right: 167px;
    justify-content: center;
  }

  @media (min-width: $large) {
    margin-right: 42px;
    justify-content: flex-end;
  }
}

.example__food {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  @media (min-width: $medium) {
    text-align: right;
    font-size: 20px;
    flex-direction: column;
  }

  @media (min-width: $large) {
    margin: 0;
    margin-top: 55px;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.example__food-text {
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $medium) {
    margin-bottom: 9px;
  }

  @media (min-width: $large) {
    margin-bottom: 0;
    margin-right: 63px;
  }
}

.example__food-price {
  text-transform: uppercase;
  margin: 0;
}
