.extra {
  border: none;
  margin: 0 20px 9px 19px;
  padding: 0;
}

.extra__title {
  @include font-oswald-normal(24px, 26px);
  margin: 0;
  margin-bottom: 34px;
}

.extra__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.extra__item {
  padding: 0 0 25px 36px;
}

.extra__label {
  @include font-oswald-normal(16px, 18px);
}
