.extra {
  border: none;
  margin: 0 20px 9px 19px;
  padding: 0;
}

.extra__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 34px;
}

.extra__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.extra__item {
  padding: 0 0 25px 36px;
}

.extra__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
}
