.extra {
  border: none;
  margin: 0 auto;
  margin-bottom: 34px;
  padding: 0;
  width: 320px;
  min-height: 217px;


  @media (min-width: $medium) {
    width: 768px;
    min-height: 205px;
    margin-bottom: 54px;
  }

  @media (min-width: $large) {
    width: 1440px;
    min-height: 133px;
    margin-bottom: 61px;
  }
}

.extra__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  padding-left: 19px;
  padding-right: 160px;

  @media (min-width: $medium) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 57px;
    padding-left: 69px;
    padding-right: 517px;
  }

  @media (min-width: $large) {
    padding-left: 110px;
    padding-right: 1118px;
  }
}

.extra__list {
  list-style: none;
  margin: 0 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $medium) {
    margin: 0 70px;
    flex-direction: row;
  }

  @media (min-width: $large) {
    margin: 0 110px;
  }
}

.extra__item {
  min-height: 30px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-left: 46px;

  @media (min-width: $medium) {
    width: 255px;
    min-height: 40px;
    margin-bottom: 32px;
    padding-left: 59px;
  }

  @media (min-width: $large) {
    width: 246px;
  }
}

.extra__item:last-child {
  margin-bottom: 0;
}

.extra__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
  }
}
