.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  padding-top: 37px;
  padding-bottom: 22px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $medium) {
    padding-top: 53px;
    padding-bottom: 57px;
    min-height: 35px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $large) {
    padding-top: 56px;
    padding-bottom: 56px;
    min-height: 37px;
  }
}

.footer__logo {
  margin: auto;
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: $medium) {
    width: 236px;
    margin: 0;
  }

  @media (min-width: $large) {
    width: 406px;
  }
}

.footer__social {
  @media (min-width: $medium) {
    width: 236px;
  }

  @media (min-width: $large) {
    width: 406px;
  }
}

.footer__copyright {
  @media (min-width: $medium) {
    width: 236px;
  }

  @media (min-width: $large) {
    width: 406px;
  }
}
