.header {
  background-color: $basic-white;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  padding-bottom: 0;
  color: $basic-black;

  @media (min-width: $medium) {
    flex-direction: row;
    align-items: center;
    padding-top: 28px;
  }

  @media (min-width: $large) {
    width: 1220px;
    justify-content: space-between;
    padding-top: 54px;
  }
}

.header__logo {
  width: 191px;
  height: 38px;
  padding-bottom: 17px;

  @media (min-width: $medium) {
    width: 174px;
    height: 52px;
    margin-right: 95px;
    padding-bottom: 0;
  }

  @media (min-width: $large) {
    width: 202px;
    height: 59px;
    margin-right: 536px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  width: 191px;
  height: 38px;

  @media (min-width: $medium) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $large) {
    width: 202px;
    height: 59px;
  }
}

.header--index {
  @media (min-width: $large) {
    background: linear-gradient(to right, $basic-white 50%, $background-bright 50%);
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 50vw;
      height: 696px;
      background: $background-bright;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: bottom right;
      background-repeat: no-repeat;
      z-index: -1;
      box-sizing: border-box;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px 696px;
      }
    }
  }
}
