.main-nav__toggle {
  @media (min-width: $medium) {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  @media (min-width: $medium) {
    flex-direction: row;
  }
}
