.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: $basic-black;
  background-color: $basic-white;
  background-position: top center;
  background-repeat: no-repeat;
}
