.promo {
  color: $basic-white;
  text-transform: uppercase;
}

.promo__description-header {
  @include font-oswald-normal(36px, 36px);
  background-color: $basic-bright;
  padding: 27px 35px 25px 36px;
  margin: 0;
}

.promo__description-slogan {
  @include font-oswald-normal(14px, 14px);
  background-color: $basic-bright;
  padding: 0 62px 299px 60px;
  margin: 0;
}

.promo__button {
  @include font-oswald-normal(14px, 18px);
  background-color: $basic-bright;
  color: $basic-white;
  text-decoration: none;
  padding: 7px 44px 7px 44px;
  margin: 3px 20px 22px 20px;
  display: block;
}
