.site-list {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $medium) {
    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: $large) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.site-list__item {
  padding: 22px 22px 24px 22px;
}

.site-list__link {
  color: $basic-black;
  text-decoration: none;
}
