.slider-control__button {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border: none;
  color: $basic-black;
  background-color: inherit;
  padding: 0;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 1.5;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(0, 0, 0, 0.4);

    &:hover {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.slider-control__scale {
  position: relative;
  width: 84px;
  height: 14px;
  top: 6px;
  border: 1px solid $special-grey;
  border-radius: 6px;
  background-color: $basic-white;

  @media (min-width: $medium) {
    width: 428px;
    height: 6px;
    top: 11px;
    background-color: $scale-color;
    border: none;
  }
}

.slider-control__toggle {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 4px;
  left: 6px;
  border-radius: 6px;
  background: $basic-bright;
  border: none;

  @media (min-width: $medium) {
    width: 34px;
    height: 34px;
    top: -14px;
    left: 46%;
    border-radius: 50%;
    background-color: $basic-white;
    border: 1px solid $special-grey;
    box-shadow: (0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      box-shadow: (0 2px 4px rgba(0, 0, 0, 0.19));
      outline: none;
    }

    &:active {
      border: 1px solid $basic-bright;
      box-shadow: (0 3px 5px rgba(0, 0, 0, 0.2));
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      top: 13px;
      left: 37%;
      border-radius: 50%;
      background: $basic-bright;
      z-index: 1;
    }
  }
}
