.slider {
  min-height: 289px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: $medium) {
    min-height: 354px;
  }

  @media (min-width: $large) {
    min-height: 325px;
    max-width: 681px;
    justify-content: flex-start;
    padding-bottom: 68px;
  }
}

.slider__images {
  position: relative;
  left: -20px;
  top: 34px;
  min-height: 240px;

  @media (min-width: $medium) {
    flex-shrink: 0;
    min-height: 517px;
    left: 18px;
    top: 26px;
  }

  @media (min-width: $large) {
    margin-right: -40px;
    left: 0;
    top: 0;
  }
}

.slider__image {
  margin: 0 -20px;

  @media (min-width: $medium) {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  &--before {
    @media (min-width: $medium) {
      display: block;
      width: 47.5%;
      background: linear-gradient(to top, $example-background-grey 344px, $basic-white 173px);
    }

    @media (min-width: $large) {
      background: linear-gradient(to top, $basic-grey 324px, $basic-white 178px);
      width: 53%;
    }
  }

  &--after {
    display: none;
    top: 0;

    @media (min-width: $medium) {
      display: block;
      background: linear-gradient(to top, $example-background-grey 344px, $basic-white 173px);
    }

    @media (min-width: $large) {
      background: linear-gradient(to top, $example-background-grey 323px, $basic-white 179px);
      top: -1px;
    }
  }
}

.slider__image-before {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__image-after {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 205px;
  margin-top: 65px;

  @media (min-width: $medium) {
    width: 570px;
    margin-top: 42px;
  }

  @media (min-width: $large) {
    margin-top: 38px;
    padding-left: 79px;
  }
}
