.slider {
  min-height: 289px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: $medium) {
    min-height: 354px;
  }

  @media (min-width: $large) {
    min-height: 325px;
    max-width: 681px;
  }
}

.slider__images {
  position: relative;
}

.slider__image {
  margin: 0 -20px;

  @media (min-width: $medium) {
    margin: 0;
  }

  &--before {
    @media (min-width: $medium) {
      display: block;
      width: 50%;
      left: 0;
    }

    @media (min-width: $large) {
      width: 52.9%;
    }
  }

  &--after {
    display: none;
    position: absolute;
    top: 0;

    @media (min-width: $medium) {
      display: block;
      width: 50%;
      right: 0;
    }

    @media (min-width: $large) {
      width: 47.1%;
      top: -1px;
    }
  }
}

.slider__image-before {
  object-fit: none;
  object-position: left center;
  height: 100%;
  max-width: 100%;
}

.slider__image-after {
  object-fit: none;
  object-position: right center;
  height: 100%;
  max-width: 100%;
}

.slider__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 205px;

  @media (min-width: $medium) {
    width: 570px;
  }
}
