.social {
  margin: 0 0 22px;
  display: flex;

  @media (min-width: $medium) {
    margin: 0;
  }
}

.social__list {
  min-width: 280px;
  min-height: 20px;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;

  @media (min-width: $medium) {
    padding: 0;
    min-width: 129px;
    justify-content: flex-start;
    border: none;
  }
}

.social__item {
  padding: 0;
  padding-right: 36px;

  &:last-child {
    padding-right: 0;
  }

  @media (min-width: $medium) {
    padding-right: 27px;
  }
}

.social__icon-vkontakte {
  fill: $dark-grey;

  .social__link:hover & {
    fill: $basic-bright;
  }

  .social__link:active & {
    fill: $basic-bright;
    opacity: 0.3;
  }

  @media (min-width: $medium) {
    width: 28px;
    height: 17px;
  }
}

.social__icon-instagram {
  fill: $dark-grey;

  .social__link:hover & {
    fill: $basic-bright;
  }

  .social__link:active & {
    fill: $basic-bright;
    opacity: 0.3;
  }

  @media (min-width: $medium) {
    width: 22px;
    height: 22px;
  }
}

.social__icon-facebook {
  fill: $dark-grey;

  .social__link:hover & {
    fill: $basic-bright;
  }

  .social__link:active & {
    fill: $basic-bright;
    opacity: 0.3;
  }

  @media (min-width: $medium) {
    width: 12px;
    height: 26px;
  }
}
