@mixin font-oswald-normal($font-size, $line-height) {
  font-family: "Oswald-normal", "Arial", sans-serif;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-oswald-medium($font-size, $line-height) {
  font-family: "Oswald-medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-arial-normal($font-size, $line-height) {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
}
