//Project colors

$basic-white: #ffffff;
$basic-black: #000000;

$basic-bright: #68b738;
$bright: #5eaa2f;
$status-error: #ff8282;

$example-background-grey: #eaeaea;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-2: #ebebeb;
$dark-grey: #666666;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-dark-title: #111111;
$border-color: #e7e7e7;

//Viewports

$small: 767px;
$medium: 768px;
$large: 1440px;
